# Python virtual environment
venv/
.venv/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite database files
*.sqlite
*.sqlite3
*.db
*.db-journal

# IDE specific files (optional, add your IDE if needed)
.idea/
.vscode/

# OS specific files (optional)
.DS_Store
Thumbs.db